.DS_Store
*.local.*
.dart_tool/
.fvm/

.idea/
.vscode/
.packages
.pub/
.fvm/

build/
ios/
**/ios/Flutter/ephemeral/
test/failures/
test/goldens/*_testImage.png
test/goldens/*_maskedDiff.png
test/goldens/*_masterImage.png
/android/local.properties
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

*.iml
pubspec.lock
doc/api/

