.DS_Store
.dart_tool/

.idea/
.vscode/
.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
/android/local.properties
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

*.iml
pubspec.lock
doc/api/

