name: Web demo deploy

on:
  push:
    branches:
      - master

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1.4.0
        with:
          channel: 'beta'

      - name: Build
        working-directory: example
        run: |
          flutter create --project-name flutter_segment_display_example .
          flutter pub get
          flutter build web --web-renderer canvaskit

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./example/build/web
